.important_section {
    gap: 0;
}

h1 {
    margin-bottom: 20px;
}

form, form > div, #delete {
    display: flex;
}

form div {
    align-items: center;
}

form {
    flex-direction: column;
    gap: 20px;
}

form > div:nth-child(2) {
    gap: 5px;
}


form > div:first-child, form > div:last-child {
    flex-direction: column;
    gap: 10px;
}

#delete {
    margin-top: 10px;
}