:root {
    --light_text: white;
    --dark_text: black;
    --section: #3B4595;
    --button: #859FED;

    --desktop: normal 1rem/1 "Inter";
    --desktop_small: normal 0.75rem/1 "Inter";
    --desktop_title: bold 1.5rem/1 "Inter";
    --phone: normal 0.75rem/1 "Inter";
    --phone_small: normal 0.5rem/1 "Inter";
    --phone_title: normal 1rem/1 "Inter";
    font: var(--desktop);

    --border: solid #D1D2DD 3px;
    --radius: 25px;
}

@font-face {
	font-family: "Inter";
	src: url("/css/font/static/Inter-Regular.ttf") format(truetype) tech(variations);
}

@font-face {
	font-family: "Inter";
	src: url("/css/font/static/Inter-Bold.ttf") format(truetype) tech(variations);
	font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #859FED, #E32DF395);
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    color: var(--light_text);
    font: var(--desktop_title);
}

a {
    color: var(--light_text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--dark_text);
}

input:not([type="submit"]) {
    border-radius: var(--radius);
    padding: 0 5px;
}

input[type="submit"] {
    all: unset;
    background-color: var(--button);
    color: var(--light_text);
    padding: 5px 15px;
    border-radius: var(--radius);
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: #687CB9;
}

/********************************************************* Header ******************************************/
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 20px;
}

header img {
    cursor: pointer;
}

#logo {
    grid-column: 2;
    justify-self: center;
}

#account {
    grid-column: 3;
    justify-self: end;
}

#account img {
    height: 50px;
}

/********************************************************* Main **********************************************/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    border-radius: var(--radius);
}

#game {
    border: var(--border);
}

/********************************************************* Footer ******************************************/
footer {
    display: flex;
    background-color: #EB6565;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}

footer > span {
    color: var(--light_text);
}