body {
    height: initial;
}

main {
    gap: 20px;
}

section {
    height: fit-content;
    width: 80%;
}

h1 {
    color: var(--light_text);
}

#identification > div, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form, #identification > div {
    gap: 10px;
}

#identification > div > a {
    font-style: italic;
}

h2:first-child {
    text-align: center;
    margin-bottom: 20px;
}

#presentation article {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

article img {
    border-radius: var(--radius);
}

#presentation > div > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 15px;
}

@media only screen and (max-width: 900px) {
    #presentation {
        width: 100%;
    }

    #presentation > div {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    #presentation article {
        flex-direction: column;
    }

    #presentation article:nth-child(2) {
        flex-direction: column-reverse;
    }

    article img {
        width: 75%;
    }

    #buttons {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    article img {
        width: 100%;
    }

    .text {
        text-align: left;
    }
}