#game {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}

#furniture_selected, #products {
    flex: 1;
}

#furniture_selected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/img/shop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    gap: 15px;
}

#furniture_selected > a {
    text-decoration: none;
}

#tel_selected_product {
    display: none;
}

#tel_exit_button {
    margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
    #tel_exit_button {
        display: none;
        margin-bottom: 20px;
    }

    #tel_selected_product > img, #tel_selected_product form > div, #tel_button, #tel_button > button {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    #furniture_selected {
        display: none ;
    }

    #filter_form {
        flex-direction: column;
        align-items: center;
    }

    #tel_selected_product {
        position: absolute;
        left: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-color: #000000EE;
        z-index: 1;
        height: 300px;
        width: 100%;
        padding: 20px 0 0;
    }

    #tel_selected_product > img {
        height: 200px;
    }

    #tel_selected_product form > div {
        display: flex;
        gap: 20px;
        margin: 20px 0;
    }

    #tel_button {
        display: none;
        justify-content: center;
    }

    #tel_button > button {
        margin-bottom: 20px;
    }
}

#selected_product {
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
}

#selected_product > img {
    height: 60%;
    margin-bottom: 20px;
    filter: drop-shadow(20px 20px 20px #000000AA);
}

#button {
    display: none;
    justify-content: center;
}

#button > button {
    margin-bottom: 20px;
}

@media screen and (max-height: 670px) {
    #button > button {
        margin-bottom: 50px;
    }
}

#products {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 10px 5px;
}

form, form > div {
    display: flex;
    gap: 10px;
}

form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

form > div {
    flex-wrap: wrap;
    justify-content: center;
}

#shop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    height: 100%;
    padding: 10px;
    gap: 15px;
    overflow: scroll;
}

article {
    background: #00000010;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: var(--radius);
    overflow: clip;
    border: solid black 2px
}

.product_img {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
}

.tag {
    display: flex;
    background-color: #000000BF;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: var(--light_text);
}

.tag > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tag img {
    width: 25px;
}