#game {
    position: relative;
    align-items: start;
}


/**********************************INTERACTIVES ELEMENTS**********************/
#infos {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#game_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/************Gauges***********/
#gauges {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    column-gap: 5px;
    row-gap: 5px;
    color: var(--light_text);
    background-color: #00000080;
    padding: 10px;
    border-radius: var(--radius);
}

.gauge {
    position: relative;
    align-self: center;
    width: 200px;
}

.gauge > div:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filled_color {
    background-color:cadetblue;
    height: 1rem;
    border-radius: var(--radius);
}

@media only screen and (max-width: 500px) {
    .gauge {
        width: 50px;
    }

    .gauge > div:first-child {
        left: 20px;
    }

    .filled_color {
        background-color: inherit;
    }
}

/*************House*************/
aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50px;
}

#triangle {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 50px;
    border-left-width: 50px;
    border-bottom: 30px solid #802424;
}

#house {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #E4ABAB;
    width: 100px;
    height: 50px;
    padding: 5px;
    row-gap: 5px;
    box-sizing: border-box;
}

#house > div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#up {
    grid-row: 1;
}

#down {
    grid-row: 2;
}

.room {
    pointer-events: auto;
    background-color: #6688EF;
    width: 100%;
    cursor: pointer;
}

.active {
    background-color: #8BE000;
}

.locked {
    background-color: #000000AA;
    cursor: initial;
}

/*******Nyanimal**********/
#nyanimal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1;
    height: 50%;
}

/******Actions*******/
#actions {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #00000080;
    z-index: 1;;
    gap: 20px;
    padding: 20px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.action {
    pointer-events: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: var(--radius);
}

#feed {
    background-image: url("/img/feed.png");
}

#treat {
    background-image: url("/img/user.svg");
}

#sleep {
    background-image: url("/img/user.svg");
}

#dress {
    background-image: url("/img/user.svg");
}

#outside {
    background-image: url("/img/coin.png");
}

@media only screen and (max-width: 800px) {
    #actions {
        flex-wrap: wrap;
        margin: 0 20px;
    }
}

/*************************************APPARTMENT******************/
#appartment_view {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

#appartment {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 4000px;
    height: 100%;
}

#wall {
    grid-row: 1;
}

#wall {
    display: flex;
    align-items: end;
    position: relative;
}

#wall, #floor {
    height: 100%;
    width: 100%;
}

#floor {
    grid-row: 2;
}

.furnitures {
    position: absolute;
    bottom: -10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#bureau {
    left: 60px;
    height: 80%;
}

#commode {
    left: 800px;
    height: 80%;
}