#game {
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#game > a {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

#sky {
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-color: aquamarine;
    height: 100%;
}

.batiment {
    background-color: gray;
    z-index: 1;
    width: 100px;
    height: 60%;
    margin-bottom: -2%;
}

.batiment:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 10px white;
}

#floor {
    grid-row: 2;
    background-color: green;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #sky {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px ;
    }

    .batiment {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    .batiment > div {
        display: flex;
        justify-content: center;
        transform: rotate(-90deg);
        white-space: nowrap;
        width: 100%;
    }
}